
body{
font-size:16px;
font-family: 'Raleway', sans-serif;
box-sizing: border-box;
color:black
}

header{
    height:69px;
    background-color: white;
    padding:13px 0;
}
form{
    margin:0;
}
img{
    width: 100%;
}
h1,h2,h3,h4,h5,h6,p{
    margin:0
}
a{
    color:black;
    transition: all .5s;
}
a:hover{
    text-decoration: none;
    transition: all .5s;

}
ul{
    padding:0;
    margin:0;
}
.logo{
    width:117px;
    margin:0;
}
.navbar-expand-lg{
    padding:0;
}
header .container-fluid{
    padding-left:80px;
    padding-right: 80px;;
}
.navbar-expand-lg .navbar-nav .nav-link{
    color:#000000;
    transition: all .5s;
    font-size: 0.75em;
    font-weight: 600;
    padding:0 10px;
}
.navbar-expand-lg .navbar-nav .nav-item.active .nav-link{
    color:#761C33;
    transition: all .5s;
}
.navbar-expand-lg .navbar-nav .nav-link.loginLink{
color:#761C33;
}
.navbar-toggler{
    width:40px;
    height:40px;
    position: relative;
    padding:0
}
.navbar-toggler i{
content:"";
background-color: #761C33;
display: block;
margin-bottom: 7px;
width:100%;
height: 3px;
border-radius: 5px;
}
.joinBtn{
    border:1px solid #761C33;
    color:#761C33;
    border-radius: 20px;;
    width: 96px;
    height:39px;
    transition: all .5s;;
    margin-left:20px;
    margin-right:8px;
    font-size: 0.75em;
    font-weight: 600;
    display: inline-flex;
    justify-content: center;
}
.joinBtn span{
    display: flex;
    align-self: center;
}
.joinBtn:hover{
    background-color:#761C33 ;
    color:white;
    transition: all .5s;;
}
.langBtn{
    background-color: #F7F7F7;
    width:55px;
    color:#000000;
    border:0;
}
.langBtn i{
    margin-left:5px;
}
.langBtn:hover select{
    color:white
}
.langBtn select{
    background-color: transparent;
    border:0;
}
.exploreBox{
    width:300px;
    margin-left:29px;
    float: left;;
    margin-right:10px;

}
.exploreForm{
    border-radius: 100px;
    overflow: hidden;
    border:1px solid #E2E2E2;
    background-color: #FBFBFB;
    height: 34px;
    width:100%;;
}
.exploreBtn{
    background-color: #761C33;
    width:37px;
    height: 100%;
    float: left;
    border-radius: 0;;
}
.exploreForm select{
    float: left;
    width:76px;
    background-color: #FBFBFB;;
    height: 100%;;
    color:#761C33;
    font-weight: 600;
    font-size: 0.625em;
    border:0;
    border-right: 1px solid #E2E2E2;;
    text-align: center;
}
.exploreForm select:focus{
    border:0;
    box-shadow: 0;
    outline: 0;
}
.exploreInput{
    background-color:#FBFBFB ;
    width:185px;
    padding-left:10px;
    float: left;
    height: 100%;;
    border:0;
    box-shadow: 0;;
}
.exploreInput::placeholder{
font-weight: 500;
color:#6E6E6E;;
font-size: 0.6875em;
}
.dropdown-toggle::after{
    border:0;
    position: absolute;
    content:"\f078";   font-family:"Font Awesome 5 Brands"
}
.dropdown-menu {
    border-radius: 20px;
    border:1px solid #E9E9E9;
padding-top: 11px;
top:35px;
}
.dropdown-menu .dropdown-item{
    padding:16px 14px;
    font-weight: 500px;
    font-weight: 500;
    font-size: 0.6875em;
    position: relative;
border-bottom: 1px solid #F9F9FF;;
}
.dropdown-menu li:last-child .dropdown-item{
    border-bottom: 0;
}
.dropdown-menu .dropdown-item:after{
    content:"";
    position: absolute ;
    width:4px;
    height: 100%;
    background-color: #761C33;;
    left:0;
    top:0;
    opacity: 0;
    transition: all .5s;;
}
.dropdown-menu .dropdown-item:hover:after{
opacity: 1;
transition: all .5s;;
}
.dropdown-menu .dropdown-item:hover{
    background-color: white;
}
.heroSliderItem{
    height: 580px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-top: 111px;
}
.heroSliderItem:before{
    position: absolute;
    content: "";
    background-image: linear-gradient(to right ,rgb(249, 245, 246,.1) 0%, rgba(255,255,255,0)100%);
    opacity: .89;
    width: 100%;
    height: 100%;
}
.heroText h1{
margin-bottom: 28px;
font-weight: bold;
font-size: 1.25em;
line-height: 2;
}
.heroText span{
font-size: 0.9375em;
line-height: 2;
margin-bottom: 35px;;
font-weight: 500;
display: block;

}
.hero .joinBtn{
width:191px;
height:43px;
 background-color: #761C33;
color:white;
margin-left: 0;
font-size: 0.9375em;
font-weight: 600;
border-radius: 21px;;    
}
.heroText .joinBtn:hover {
    background-color: #591526;
}
.hero .joinBtn span{
   
    margin:0
}

.btn:focus{
    border:0;
    outline: 0;
    box-shadow: none;
}
.hero{
    position: relative;
}
.fixedItems{
    position: absolute;
    right: 13%;
    bottom: 18%;
    z-index: 11;
}
.fixedItemsImg{
    width:70px;
    margin:5px;
    display: inline-block;
}
.fixedItemsImg img{
    transition: all .5s;
}
.fixedItemsImg:hover img{
    transition: all .5s;;
    transform: scale(1.1);
}
.benefit{
    margin-top:-105px;
    z-index: 22;
    position: relative;
}
.BenfitBox{
background-color: white;
    border-radius: 16px;
    padding-top:35px;
    background-color: #E6D6DA;
    padding-bottom: 39px;
}
.benfitIcon{
    margin-bottom: 20px;
    height: 50px;
    max-height: 50px;
    display: flex;
}
.benfitIcon svg{
 display: flex;
 align-self: end; 
}

.bnfitContent h3{
    font-size: 1.1875em;
    font-weight: 600;
    margin-bottom: 14px;;
    line-height: 2;
}
.bnfitContent h4{
    font-size: 1em;
    font-weight: 600;
    margin-bottom: 14px;;
    line-height: 2;
}
.bnfitContent span{
    opacity: .5;
    font-size: .875em;
}
.newCourses{
    padding-top:74px;
    padding-bottom: 116px;
}
.sectionTitle h5{
    font-size:1.25em;
    font-weight: bold;;
    margin-bottom: 15px;
}.sectionTitle p{
    font-size:.9em;
    font-weight: 500;
    margin:0;
}
.sectionTitle {
    margin-bottom: 45px;;
}
@media (min-width: 1200px)

{
.container {
    max-width: 1058px;
}

.benfitTitle{
    padding:0 60px
}
}
.courseItemBox{
border-radius: 16px;
overflow: hidden;
background-color: white;
border:1px solid #E9E9E9;
padding-bottom: 20px;
}

.courseDesc{
padding:20px;
padding-bottom: 0;
}

.courseImg{
    position: relative;
}
.courseLang{
    position: absolute;
    width:34px;
    height: 34px;
    border-radius: 50%;
    background-color:#761C33;
    color:white;
    display: block;
    font-size:.875em;
    color:white;
    font-weight: 600;
    text-align: center;
    line-height: 34px;
    right:16px;
    top:16px
}
.courseItemBox:hover h4 a{
    color:#591526;
    transition: all .5s;
}
.courseDesc h4 {
font-weight: 600;
margin-bottom: 15px;
font-size: 1em;
transition: all .5s;
}
.courseDesc h4 a{
    color:#000000;
}
.courseDesc p{
    opacity: .5;
    font-size: .875em;
    font-weight: 500;
    margin-bottom: 14px;
}
.trainerImg{
    display: inline-flex;
    width:29px;
    height:29px;
    border-radius: 50%;
    margin-right: 7px;
}
.trainerName{
   display: inline-flex;
    font-size: 0.8125em;
    font-weight: 600;
    align-self: center;
}
.trainer{
    margin-bottom: 9px;
    display: flex;
}
.trainer:hover a{
color:#761C33
}
.enrollBtn{
    float:right;
    width:117px;
    height: 43px;
    background-color: #FAFAFA;
    color:#761C33;
    font-weight: 600;
    font-size: .812em;
    border-radius: 21px;
    display: flex;
    border:1px solid #FAFAFA
}
.enrollBtn span{
    display: flex;
    align-self: center;
}
.enrollBtn svg{
    margin-left:5px;
    display: flex;
    align-self: center;
}
.enrollBtn:hover{
    border-color: #761C33;
    color:#761C33
}
.counterSection{
    padding:72px 0;
    background-image: url(../images/counterBG.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.counterIcon{
display: inline-flex;
    margin-right: 15px;;
    width:37px;
}
.counter{

display: inline-block;}
.counter span{
    font-size:2em;
    font-weight: 600;
    color:white;
}
.counter p{
font-size:0.875em;
font-weight: 600;
margin:0;
color:white;
}
.owl-carousel{
    overflow: visible;
    overflow-y: hidden;
    
}
.owl-carousel .owl-nav{
    position: absolute;
    right:0;
    top:-65px;
}
.owl-carousel .owl-nav button {
    width:30px;
    height:30px;
    border-radius: 50%;
    background-color: #F2F2F2 !important;
    color:#761C33 !important;
    position: absolute ;
    right:0;
    border:1px solid transparent
}
.owl-carousel .owl-nav button.owl-prev{
right:40px;
}
.owl-carousel .owl-nav button.disabled{
    background-color: #F2F2F2 !important;
    color:rgba(0, 0, 0, .3) !important
}
.owl-carousel .owl-nav button:hover{
    background-color:  transparent !important;
    border:1px solid  #761C33 !important
}
.owl-carousel .owl-dots{
    width: 100%;
    position: absolute;
    bottom:-50px;
    text-align: center;
}
.owl-carousel .owl-dots .owl-dot{
    width:6px;
    height:6px;
    border-radius: 50%;
    margin:2px;
    background-color: #EFEFEF;
    border:1px solid #C0C0C0;;
}
.owl-carousel .owl-dots .owl-dot.active{
    background-color: #761C33;
    border:1px solid #761C33
}
.certificate{
    padding:74px 0 120px;
 
}
.certificateBox{
    border:1px solid #E9E9E9;
    border-radius: 16px;;
    overflow: hidden;
}
.certificateImg{
    clip-path: polygon(0 0, 100% 0%, 100% 80%, 0 100%);
    overflow: hidden;
    height: 166px;;
}
.certificateDesc{
    padding:20px 20px 40px 20px;
     position: relative;

}
.certificateDesc h4{
font-size:.9em;
font-weight: 600;
margin-bottom: 12px;;
}
.certificateDesc p{
    font-size:.875em;
    opacity: .5;
    margin-bottom: 14px;;
}
.certificateDesc h6{
    font-size:.875em;
    color:#761C33;
    font-weight: 600;
}
.certificateBtn {
    width:35px;
    height:35px;
    border-radius: 50%;
    background-color: #ECE0E3;
    color:#761C33;
    position: absolute;
    top:-45px;
    right:20px;
    text-align: center;
    line-height: 37px;
    border:1px solid #ECE0E3;
}
.certificateBtn i{
    line-height: 35px;;
}
.certificateBtn:hover{
    background-color: transparent;
    border:1px solid #761C33;
    color:#761C33;

}
.joinSec{
    position: relative;
    background-image: url("../images/joinBG.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding:64px 0 68px;
    height: 370px;;

}



.leftImg{
    position: relative;
    float:left;
    width:45%;
    margin-right:30px;
    height: 100%
}
.imageright{
    float:right;
    width:209px;
    border-radius: 16px;
    overflow: hidden;
    margin-top:5px;
}
.topImg{
    border-radius: 16px;
    overflow: hidden;
    width:219px;
    margin-top:-90px;
    margin-bottom: 30px;;
}
.bottomImg{
    width:189px;
    margin-bottom:-90px;
    border-radius: 16px;
    overflow: hidden;
    position: relative;
    right: 0;
}
.joinSec .sectionTitle{
    line-height: 2;
    margin-bottom: 0;
}
.joinSec  h5{
    line-height: 2;
    margin-bottom: 0;
}
.joinsecBtn{
    background-color: #761C33;
    color:white;
    width: 191px;
    height:43px;
    margin-top:34px;
    border-radius: 21px;;
    font-size:.9em;
    font-weight: 600;
    line-height: 30px;;
}
.joinsecBtn:hover{
    background-color: #591526;
    color:white;
}
.discount{
    padding-top:74px;
    padding-bottom:74px;
}
.discountNum{
    position: absolute;
    WIDTH:62PX;
    height:34px;
    left:0;
    top:30px;
    text-align: center;
    background-color: #761C33;
    font-size:1.125em;
    color:white;
    font-weight: 600;

}
.nav-pills{
    width:100%;
    margin-bottom: 40px;

}
.nav-pills .nav-link{
    padding:12px 18px;
    font-size:.875em;
    font-weight: 500;
    text-align: center;
    border-radius: 21.5px;
    border:1px solid #E1E1E1;
    margin-right:10px;
}
.nav-pills .nav-link.active{
    background-color: transparent;
    color:#761C33;
    border:1px solid #761C33
}
.mostViewed{
    padding-top:104px
}
.nav-pills .nav-link:hover{
    background-color: #761C33;
    color:white;
}
.instructorImg{
    width:166px;
    height:166px;
    border-radius: 50%;
    overflow: hidden;
    margin:auto;
    margin-bottom: 20px;;
}
.InstructorItem h4
{
font-size:1em;
margin-bottom: 15px;
font-weight: 600;
}
.InstructorItem p{
    font-size:.875em;
    opacity: .5;
    font-weight: 400;
}
.InstructorItem{
    text-align: center;
}
.InstructorItem .instructorImg img{
transition: all .5s;
}
.InstructorItem:hover .instructorImg img{
    transform: scale(1.1);
    transition: all .5s;;
}
.InstructorItem:hover  h4{
    color:#761C33;
    transition: all .5s;;
}
.Instructors{
    padding-bottom: 74px;;
}
.partners{
    padding-bottom:74px
}
.partnerBox{
    width:156px;
    height:156px;
    border-radius: 50%;
    box-shadow: 0 6px 14px rgba(0, 0, 0, .04);
    padding:26px 5px;
    border:1px solid #E9E9E9;
    display: flex;
}
.partnerImg{
    width: 100px;
    margin:auto;
    display: flex;
    align-self: center;
    min-width: 70px;
    width:100px;
    max-width: 136px;
}
.bigImg{
    width:130px;
}
.smallImg{
    width:79px;
}
.partnerBox .partnerImg img{
    transition: all .5s;;
}
.partnerBox:hover .partnerImg img{
    transform: scale(1.1);
    transition: all .5s;;
}
.partnerSlider .owl-stage{
    padding:20px 0;
}
.partnerSlider .owl-stage-outer{
    width:100%;
    overflow: visible;
}

 .partnerSlider .owl-item {
   opacity: 0;
   transition: all .5s;;
}
.partnerSlider .owl-item.active {
  opacity: 1;
}
.subscribe{
    background-color: #761C33;
    padding: 33px;
}
.subscribeBox{
    display: flex;
}
.subscribeTitle{
display: inline-block;
}
.subscribeTitle h5{
    font-size:1em;
    font-weight: bold;;
    color:white;
    margin-bottom: 13px;;
}
.subscribe p{
    font-size:0.8125em;
    font-weight: 500;
    color:white;
    opacity: .53;
}
.subscribeForm{
    margin:0;
    display: inline-flex;
    align-self: center;
    margin-left:50px;
}
.subscribeForm .form-group{
    margin-bottom: 0;;
}
.sendSubscribe{
    display: inline-flex;
    align-self: center;
    width:103px;
    height:45px;
    background-color: white;
    border-radius: 25px;;
    font-size:0.6875em;
    font-weight: 600;
    justify-content: center;
    color:#761C33
}
.sendSubscribe span{
    display: flex;
    align-self: center;
}
.subscribeFormControl{
    display: inline-flex;
    align-self: center;
    width:322px;
    height:45px;
    background-color: transparent;
    border:1px solid #707070;
    border-radius: 25px;;
    color:white !important;
    font-size:0.6875em;
    margin-right:13px;
    font-weight: 500;
    ;

}
.subscribeFormControl::placeholder{
color:white;
font-size:0.6875em;
font-weight: 500;
}
.subscribeFormControl:focus{
    background-color: transparent;
    border-color: #707070;;
}
.sendSubscribe:hover{
    background-color: rgba(255,255,255,.5);
}
footer{
    padding:40px 0 30px;
    background-color: #F4F7F8;
}
footer .container{
    position: relative;
}
.up{
    display: block;
    position: fixed;
    bottom: 150px
    ;
    right: 155px;
    text-decoration: none;
    text-align: center;
    z-index: 999;
    width:45px;
    height: 45px;
    border-radius: 50%;
    border:1px solid #761C33;
    color:#761C33;
    transition: all .5s;;
    opacity: 0;
}
.up:hover{
    text-decoration: none;
    background-color: #761C33;
    color:white
}
.up i{
    display: block;
    font-size: 22px;
    line-height: 40px;
}
.sharqInfo h4{
    font-size:1em;
    font-weight: bold;;
    margin-bottom:16px;
}
.sharqInfo p{
    font-size:0.6875em;
    font-weight: 500;
    margin-bottom: 35px;;
}
.appBtn{
    width:100px;
    margin-right:6px;
    margin-bottom: 25px;;
   float:left
}
.footerPartnerImg{
    width:51px;
    margin-top:9px;
}
.footerPartners a{
    margin-right:20px;
    float:left;
}
.footerPartners span{
    font-size:.675em;
    font-weight: bold;
}
.footerListTitle{
    margin-bottom: 18px;
    font-weight: 600;
    font-size: 0.8125em;
}
.footerList li{
    list-style-type: none;
    margin-bottom: 22px;;
    position: relative;

}
.footerList li:before{
content:"\f061";
font-family: "Font Awesome 5 Free";
color:#761C33;
font-weight: 600;
font-size:12px;
}
.footerList li a{
    color:#707172;
    font-size:0.6875em;
    margin-left: 15px;
    font-weight: 500;
}
.contactFooterList li{
    color:#707172;
    font-size:0.6875em;
    font-weight: 500;
    list-style-type: none;
    margin-bottom: 10px;;
}
.contactFooterList {
    margin-bottom: 24px;;
}
.contactFooterList li:last-child{
    margin-top:19px;
    color:#761C33
}
.socialIcons li{
    list-style-type: no9Fne;
    display: inline-block;
    margin-right:20px;
    color:#9F9F9F;
    font-size:1.125em;
}
.socialIcons li:last-child{
    margin-right: 0;
}
.socialIcons li a{
    color:#9F9F9F;
}
.socialIcons li:hover a{
    color:#761C33
}
.footerMenu{
    padding:9px 0
}
.footerLogo{
    display: inline-block;
    margin-right:8px;
    width:89px;
}
.footerMenuList{
    display: inline-block;
}
.footerMenuList li{
    list-style-type: none;
    display: inline-block;
    margin-right: 30px;;
    color:#707172;
    font-size :0.68em;
    font-weight: 500;
}
.footerMenuList li:last-child{
    margin-right: 0;
}
.footerMenuList li a{
    color:#707172
}
.footerMenuList li:hover a{
    color:#761C33
}
.copy{
    background-color: #000000;
    padding:9px 0
}
.right-side{
    padding-left: 30px;
    border-left:1px solid white;
    margin-left:30px;
}
.copyLogo{
width:92px;
display: inline-flex;
margin-lefT:30px;
}
.copy p{
font-size:.68em;
color:white;
align-self: center;
}
.left-side ,.right-side{
    display: inline-flex;
}
.langDropDown{
    position: absolute;
    top: 100%;
    right: 0;
     z-index: 1000;
     display: none;
    min-width: 100px;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border-radius: 0.25rem;
}
.langCont{
    position: relative;
    float: left;
}
.owl-carousel.nav-slider{
    display: none !important;
}
.mobileBtns{
    display: none;
}
@media(max-width:767px){
body{
    font-size:14px
}
header{
    height: auto;
}
.exploreBox{
    margin-left:0;
    margin-top:20px;
}
.navbar-toggler{
    margin-top:20px;
}
.mobileBtns{
    display: block;
}
.joinBtn{
    float: left;
}
.navbar-expand-lg .navbar-nav .nav-item .nav-link{
    margin:10px 0
}
 .fixedItems {
    position: absolute;
    right: 0;
    bottom: 23%;}

 .owl-stage-outer{
    overflow: hidden;
}
.counterSection{
    text-align: center;
}
.counterBox {
    margin-bottom: 20px;;
}
.joinImages{
    display: none;
}
.up{
    right:50px
}
.subscribeFormControl,.subscribeTitle,.subscribeForm,.subscribeBox{
display: block;
width: 100%;
}
.socialIcons li{
    margin-right:10px
}
.footerPartners {
    margin-bottom:20px
}
.footerList li a{
    margin-left:2px
}
.right-side{
    padding:0;
    margin:0;
    border-left:0;
    margin-top:20px;
}
header .container-fluid{
    padding:0 10px;
}
.owl-carousel .owl-nav{
    top:-32px;
}
.desktopNavPills{
    display: none;
}
.owl-carousel.nav-slider{
    display: flex !important;
}
.subscribeForm{
    margin-left:0
}
.subscribeFormControl{
    margin-bottom: 10px;
    margin-top:10px
}
}