header{
    height:69px;
    background-color: white;
    box-shadow: 0 1px 0 rgba(0, 0, 0, .5);
}
.exploreBox{
    width:292px;
    margin-left:29px;
}
.exploreForm{
    border-radius: 100px;
    overflow: hidden;
}